/* GENERAL STYLINGS */

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin-bottom: -20px;
}

h1, h2, h3, h4, a {
    font-family: 'Quattrocento Sans', sans-serif;
}

section {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.white-txt {
    color: #EBF2FA;
}

.color1 {
    background-color: #625772;
}

.color2 {
    background-color: #F38181;
}

.color3 {
    background-color: #face7c;
}

.color4 {
    background-color: #A9EEE6;
}

.color1-txt {
    color: #625772;
}

.color2-txt {
    color: #F38181;
}

.color3-txt {
    color: #face7c;
}

.color4-txt {
    color: #A9EEE6;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.centered {
    text-align: center;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.left {
    text-align: left;
}

/* ELEMENT STYLINGS */

.header-background {
    margin-left: -10px;
    background-image: url("assets/images/hypnotize.png");
    width: 99vw;
    height: 100vh;
}

.links-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.links-list {
    list-style: none;
}

.link-item {
    float: left;
}

.link-box:hover {
    color: #face7c;
    padding-bottom: 3px;
    border-bottom: solid #face7c 1px;
}

.link-box:hover > a {
    color: #face7c;
}

.link {
    text-decoration: none;
}

.picture-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.author-pic {
    border-radius: 50%;
    border: solid #625772 5px;
}

.name-box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
    margin-top: 50px;
    padding: 5px 50px;
}

.space {
    text-align: center;
}

.section-title {
    margin-top: 8rem;
}

.set-off {
    margin-top: 60px;
    margin-bottom: 50px;
}

.section-summary {
    font-family: 'Quattrocento Sans', sans-serif ;
    margin-bottom: 6rem;
    text-align: center;
    line-height: 175%;
}

.content-p {
    margin-top: 0px;
    line-height: 175%;
}

.pic-2 {
    text-align: center;
}

.section-break {
    width: 40%;
    margin-top: 4rem;
    border: solid 1px #625772;
}

.circle-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: solid 1px black;
    border-radius: 50%;
}

.icon-header {
    font-size: 2rem;
}

.icon-explanation {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.big-icon {
    margin-top: 1rem;
    font-size: 6rem;
}

.skill-set {
    margin-top: 1.8rem;
}

.skill-header {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.5rem;
}

.wordcloud {
    margin-top: -3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wordcloud img {
    width: 100%;
    height: auto;
}

.full-viewport {
    width: 100vw;
    /* overflow-y: hidden; */
}

.contact-title {
    color: #EBF2FA;
    font-size: 2rem;
    padding-top: 6rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.contact-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #F38181;
    text-align: center;
}

.contacts-container {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contacts-container a {
    text-decoration: none;
}

.white-icon {
    margin-top: 40px;
    color: #EBF2FA;
}

.contact-label {
    display: none;
}

.copyright {
    font-size: 0.8rem;
}

.project-header {
    font-size: 2rem;
    text-align: left;
}

.project-link {
    text-decoration: none;
}

.img-container img {
    width: 100%;
}

.flex-regular {
    display: flex;
    justify-content: space-between;
}

.icons-container {
    margin-right: 8%;
}

.img-container img {
    border: solid 2px #625772;
}

.click-box {
    width: 100%;
    padding: 0.5rem 0.15rem;
    margin-top: -0.4rem;
    margin-bottom: -1.4rem;
    display: none;
    text-align: left;
}

.about-header {
    margin-top: 0;
    font-size: 1.5rem;
}

.about-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.about-small-header {
    margin-bottom: 0;
}

.collaborator-link {
    text-decoration: none;
}

/* MOBILE */
@media (max-width: 420px) {
    body {
        max-width: 90vw;
    }

    .hamburger {
        display: inline-block;
        margin-left: 10px;
        font-size: 30px;
    }

    section {
        width: 70%;
    }

    .links-list {
        display: none;
    }

    .links-bar {
        height: 7%;
    }

    .link-item {
        margin-right: 5%;
    }

    .picture-container {
        padding-top: 40%;
    }

    .author-pic {
        width: 200px;
    }

    .name-box {
        width: 40%;
    }

    .name-header {
        font-size: 1.5rem;
    }

    .name-subtitle {
        font-size: 1rem;
    }

    .section-title, .contact-title {
        font-size: 2rem;
    }

    .section-summary {
        font-size: 1.5rem;
    }

    .container {
        flex-direction: column;
    }

    .half {
        width: 100%;
        margin-bottom: 3rem;
    }

    .third {
        width: 100%;
        margin-bottom: 3rem;
    }

    .pic-2 {
        width: 85%;
        height: auto;
    }

    .circle-icon {
        width: 8rem;
        height: 8rem;
    }

    .big-only {
        display: none;
    }

    .contact-circle {
        margin-bottom: 20px;
    }

    .contacts-container {
        width: 50%;
        padding-bottom: 2rem;
    }

    .full-viewport {
        margin-left: -10px;
        padding-right: 12px;
    }

    .width {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .project-header, .about-header, .tech-stack-container, .collaborator-container {
        text-align: center;
    }

    .contact-label {
        display: none;
    }

    .about-header {
        margin-bottom: 0;
    }

    .row-wrap {
        flex-flow: wrap row;
    }
}

@media (min-width: 421px) and (max-width: 770px) {
    section {
        width: 80%;
    }

    .hamburger {
        display: none;
    }

    .links-list {
        display: flex;
        justify-content: space-around;
    }

    .link-item {
        font-size: 1.5rem;
        margin-right: 20px;
    }

    .picture-container {
        padding-top: 40%;
    }

    .author-pic {
        width: 200px;
    }

    .name-box {
        width: 40%;
    }

    .name-header {
        font-size: 1.5rem;
    }

    .name-subtitle {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
    }

    .section-summary {
        font-size: 2rem;
    }

    .section-title, .contact-title {
        font-size: 3rem;
    }

    .half {
        width: 100%;
        margin-bottom: 3rem;
    }

    .third {
        width: 100%;
        margin-bottom: 3rem;
    }

    .pic-2 {
        width: 85%;
        height: auto;
    }

    .circle-icon {
        width: 8rem;
        height: 8rem;
    }

    .big-only {
        display: none;
    }

    .width {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .contact-label {
        display: none;
    }

    .full-viewport {
        margin-left: -20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .contacts-container {
        width: 100%;
    }

    .copyright {
        margin-top: 6rem;
    }
}

/* DESKTOP */

@media (min-width: 771px) {
    section {
        width: 80%;
        padding-bottom: 6rem;
    }

    .hamburger {
        display: none;
    }

    .links-list {
        display: flex;
        justify-content: space-around;
    }

    .link-item {
        font-size: 1.5rem;
        margin-right: 20px;
    }

    .picture-container {
        padding-top: 35%;
    }

    .author-pic {
        width: 25%;
    }

    .name-box {
        width: 300px;
    }

    .name-header {
        font-size: 2.5rem;
    }

    .section-summary {
        font-size: 2rem;
    }

    .section-title, .contact-title {
        font-size: 4rem;
    }

    .half {
        width: 50%;
    }

    .third {
        width: 33.3%;
    }

    .pic-2 {
        width: 85%;
        height: auto;
    }

    .circle-icon {
        width: 12rem;
        height: 12rem;
    }

    .side {
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        text-align: center;
        width: 100%;
        border-radius: 80px;
    }

    .skill-item {
        margin-right: 2rem;
    }

    .skill-icon {
        margin-top: 1.5rem;
    }

    .fourth {
        width: 33%;
    }

    .three-fourths {
        width: 67%;
    }

    .flex-vertical, .skill-set {
        display: flex;
        flex-direction: row;
    }

    .centered-block {
        margin-left: auto;
        margin-right: auto;
    }

    .skill-item {
        width: 84px;
        height: 84px;
        margin-right: 1.5rem;
        text-align: center;
    }

    .jquery-icon, .postgresql-icon, .mongo-icon {
        margin-top: 8px;
    }

    .react-icon {
        width: 84px;
        height: 84px;
    }

    .small-only {
        display: none;
    }

    .full-viewport {
        margin-left: -20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .contact-label {
        display: none;
    }

    .contacts-container {
        width: 70%;
    }

    .copyright {
        margin-top: 6rem;
    }

    .about-container {
        margin-left: 8%;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .project-break {
        color: #625772;
        border: solid #625772 0.5px;
        margin: 6rem 0;
    }
}

@media (min-width: 1025px) {
    .links-bar {
        height: 7%;
    }

    .link-item {
        font-size: 1rem;
    }

    .links-list {
        display: block;
        margin-top: 15px;
        margin-left: 10px;
    }

    .picture-container {
        padding-top: 8%;
    }

    .author-pic {
        width: 20%;
    }

    .content-p {
        font-size: 1.5rem;
    }

    .fourth {
        width: 25%;
    }

    .three-fourths {
        width: 75%;
    }

    .skill-item {
        margin-right: 4.5rem;
    }

    .contact-circle:hover {
        background-color: #2A9D8F;
    }

    .contacts-container {
        width: 50%;
    }

    .contact-label {
        display: none;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 7rem;
        color: #EBF2FA;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 1.5rem;
        background-color: #2A9D8F;
        border-radius: 1.5rem;
    }

    .about-para {
        font-size: 1.2rem;
        line-height: 125%;
    }
}