body {
    font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4 {
    font-family: 'Asap', sans-serif !important;
}

.hide {
    display: none;
}

.section-break {
    width: 40%;
    margin-bottom: 100px;
    border: solid 1px #605F5E;
}

.link {
    color: #EAC435 !important;
    text-decoration: none;
}

.link:hover {
    color: #EAC435 !important;
    text-decoration: none !important;
    font-style: italic !important;
}

.page-links-div {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(8, 65, 92, 0.9);
    z-index: 10000;
}

.link-pic {
    margin-top: -3px;
    margin-right: 30px;
    width: auto;
}

.github-pic {
    height: 30px;
}

.linkedin-pic {
    height: 25px;
}

.background-photo {
    width: 100%;
    height: 100%;
    overflow: hide;
}

.links-ul {
    position: relative;
    top: 10px;
    list-style: none;
    display: flex;
}

.page-links-li {
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}

.portrait-wrapper {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.surrounding-circle-div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 220px;
    height: 220px;
    border: solid 5px #EBF2FA;
    border-radius: 50%;
}

.personal-pic-img {
    position: relative;
    top: 5px;    
    left: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header-box {
    width: 440px;
    height: 140px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 80px;
    background-color: rgba(8, 65, 92, 0.5);
}

.typewriter {
    position: relative;
    top: -140px;
    color: #EBF2FA;
    text-align: center;
}

.description-h2 {
    position: relative;
    top: -140px;
    color: #EBF2FA;
    text-align: center;
}

.content-section {
    height: 900px;
}

.section-title {
    color: #2355A7;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.section-summary {
    font-family: 'Asap', sans-serif !important;
    font-size: 38px;
    margin-bottom: 60px;
    text-align: center;
}

.gray {
    height: 340px;
}

.set-off {
    margin-top: 60px;
    margin-bottom: 50px;
}

.pic-2-container {
    text-align: center;
}

.personal-pic-2 {
    width: 75%;
    height: auto;
    box-shadow: 10px 10px 5px #888888;
}

.content-p {
    font-size: 20px;
    line-height: 175%;
}

.about-me-contents {
    height: 350px;
}

.circle-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 50%;
}

.reduced-width {
    margin: 0 auto;
    width: 300px;
}

.end-box {
    margin-left: 40px;
    margin-right: 40px;
    height: 150px;
    border-radius: 20px;
}

.front-end {
    background-color: rgb(141, 216, 205);
}

.back-end {
    background-color: rgb(124, 192, 223);
}

.icon-header {
    margin-bottom: 10px;
    color: #2355A7;
    text-align: center;
}

.icon-explanation {
    text-align: center;
}

.skill-icon {
    color: #EBF2FA;
    text-align: center;
}

.skill-label {
    color: #EBF2FA;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

.big-icon {
    color: #EBF2FA;
    font-size: 72px;
}

.skill-header {
    margin-top: 0;
    margin-bottom: 10px;
    color: #EBF2FA;
    text-align: center;
}

.skill-set {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 128px;    
    display: flex;
    flex-direction: row;
}

.skill-item {
    width: 84px;
    height: 84px;
    margin-right: 60px;
    text-align: center;
}

.white {
    color: white;
}

.jquery-icon {
    height: 84px;
    width: 73.5px;
}

.project-header {
    font-size: 40px;
    text-align: center;
}

.project-link {
    color: #2355A7;
}

.project-link:hover {
    color: #FB4D3D;
    text-decoration: none;
}

.shift-right {
    margin-left: 20px;
}

.github-button {
    color: black;
}

.img-container {
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    margin-left: -15px;
}

.subscribr-screenshot {
    width: 100%;
    height: auto;
    border: 2px solid #2355A7;
}

.screenshot:hover {
    border: 2px solid #FB4D3D;
}

.click-box {
    display: none;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    color: white;
    font-size: 18px;
    font-variant: small-caps;
    background: #FB4D3D;
}

.icons-container {
    position: absolute;
    right: 10%;
    top: 20px;
}

.project-icon {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icon-label {
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Asap', sans-serif;
    font-size: 18px;
}

.about-container {
    margin-left: 20px;
    height: 372px;
}

.about-header {
    font-family: 'Asap', sans-serif;
    font-size: 24px;
    color: #2355A7;
}

.about-para {
    font-size: 20px;
}

.about-link {
    font-family: 'Asap', sans-serif;
    color: #2355A7;
}

.about-link:hover {
    color: #FB4D3D;
    text-decoration: none;
}

.collaborator-container {
    position: absolute;
    bottom: 0;
}

.collaborator-header {
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

.collaborator-link {
    color: #2355A7;
    font-size: 16px;
}

.collaborator-link:hover {
    color: #FB4D3D;
    text-decoration: none;
}

@media (min-width: 640px) {
    .links-ul {
        flex-direction: row;
    }

    .page-links-li {
        margin-right: 20px;
    }

    .external-links {
        padding-right: 40px;
        margin-right: 20px;
        text-align: right;
    }

    .skill-set {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        height: 128px;    
        display: flex;
        justify-content: flex-start;   
    }

    .project-header {
        text-align: left;
        margin-left: 20px;
    }
}
